<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huayu.shopping_mall.mapper.CommodityentryMapper">

    <resultMap id="BaseResultMap" type="com.huayu.shopping_mall.entity.Commodityentry">
        <result column="ceid" property="ceid" jdbcType="INTEGER"/>
        <result column="cid" property="cid" jdbcType="INTEGER"/>
        <result column="cenumber" property="cenumber" jdbcType="VARCHAR"/>
        <result column="ceimg" property="ceimg" jdbcType="VARCHAR"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="cedate" property="cedate" jdbcType="VARCHAR"/>
        <result column="cebuymoney" property="cebuymoney" jdbcType="VARCHAR"/>
        <result column="cesellmoney" property="cesellmoney" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="goodsInMap" extends="BaseResultMap" type="com.huayu.shopping_mall.entity.Commodityentry">
        <association property="commodity" javaType="com.huayu.shopping_mall.entity.Commodity">
            <id column="cid" property="cid"/>
            <result column="cname" property="cname"/>
        </association>
        <association property="user" javaType="com.huayu.shopping_mall.entity.User">
            <id column="uid" property="uid"/>
            <result column="uname" property="uname"/>
        </association>
    </resultMap>

    <select id="getAllGoodInByPage" resultMap="goodsInMap">
        select goodsIn.*,u.uid as uid,u.uname as uname, co.cid as cid ,
        co.cname as cname
        from commodityentry goodsIn,commodity co,user u
        where goodsIn.cid=co.cid and goodsIn.uid=u.uid
        <if test="commodityentry.cid !=null">
            and goodsIn.cid like concat('%',#{commodityentry.cid},'%')
        </if>
        <if test="uname !=null and uname != ''">
            and u.uname like concat('%',#{uname},'%')
        </if>
        <if test="commodityentry.cname !=null and commodityentry.cname != ''">
            and co.cname like concat('%',#{commodityentry.cname},'%')
        </if>
        <if test="commodityentry.cebuymoney !=null and commodityentry.cebuymoney != ''">
            and goodsIn.cebuymoney like concat('%',#{commodityentry.cebuymoney},'%')
        </if>
        <if test="commodityentry.cesellmoney !=null and commodityentry.cesellmoney != ''">
            and goodsIn.cesellmoney like concat('%',#{commodityentry.cesellmoney},'%')
        </if>
        <if test="beginDate != null">
            and goodsIn.cedate between #{beginDate[0]} and #{beginDate[1]}
        </if>
        <if test="page !=null and size!=null">
            limit #{page},#{size}
        </if>
    </select>

    <select id="getTotal" resultType="java.lang.Long">
        select count(*) from commodityentry goodsIn,user u,commodity co
        <where>
            <if test="commodityentry !=null">
                <if test="commodityentry.cid !=null">
                    and goodsIn.cid like concat('%',#{commodityentry.cid},'%')
                </if>
                <if test="commodityentry.cname !=null and commodityentry.cname != ''">
                    and co.cname like concat('%',#{commodityentry.cname},'%')
                </if>
                <if test="commodityentry.cebuymoney !=null and commodityentry.cebuymoney != ''">
                    and goodsIn.cebuymoney like concat('%',#{commodityentry.cebuymoney},'%')
                </if>
                <if test="commodityentry.cesellmoney !=null and commodityentry.cesellmoney != ''">
                    and goodsIn.cesellmoney like concat('%',#{commodityentry.cesellmoney},'%')
                </if>
            </if>
            <if test="uname !=null and uname != ''">
                and u.uname like concat('%',#{uname},'%')
            </if>
            <if test="beginDate != null">
                and goodsIn.cedate between #{beginDate[0]} and #{beginDate[1]}
            </if>
        </where>
    </select>
    <insert id="insertSelective" parameterType="com.huayu.shopping_mall.entity.Commodityentry">
        insert into commodityentry
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ceid != null">
                ceid,
            </if>
            <if test="cid != null">
                cid,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="ceimg != null">
                ceimg,
            </if>
            <if test="cenumber != null">
                cenumber,
            </if>
            <if test="cebuymoney != null">
                cebuymoney,
            </if>
            <if test=" ccid != null">
                ccid,
            </if>
            <if test="sid != null">
                sid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ceid != null">
                #{ceid,jdbcType=INTEGER},
            </if>
            <if test="cid != null">
                #{cid,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="ceimg != null">
                #{ceimg,jdbcType=VARCHAR},
            </if>
            <if test="cenumber != null">
                #{cenumber,jdbcType=VARCHAR},
            </if>
            <if test="cebuymoney != null">
                #{cebuymoney,jdbcType=VARCHAR},
            </if>
            <if test="ccid != null">
                #{ccid,jdbcType=INTEGER},
            </if>
            <if test="sid != null">
                #{sid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
</mapper>