<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huayu.shopping_mall.mapper.RoleMapper">

    <select id="findRoleListByUserId" resultType="com.huayu.shopping_mall.entity.Role">
        select r.rid,r.rname from user u left join userrole ur on u.uid=ur.uid left join role r on ur.rid=r.rid where u.uid=#{uid}
    </select>
</mapper>